<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>gg5.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>欧工</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg15.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>大禹设计</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm11.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>欧朋装修</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm11.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>华夏软装</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm11.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>南都设计</string>
	</dict>
</array>
</plist>
