<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>mm1.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>赵敏之</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg1.jpg</string>
		<key>gongSi</key>
		<string>个人工作室</string>
		<key>zhiWu</key>
		<string>CEO</string>
		<key>qianMing</key>
		<string>不花一分钱，也能成就你的梦想</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1090</string>
		<key>year</key>
		<string>8</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>大鹏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm5.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>ciry</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm2.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>朗明</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg2.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>赵敏之</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg3.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>周浩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm8.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>于纷纷</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg6.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>刘健</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg10.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>大话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm11.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>小桃子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>火车头.PNG</string>
		<key>gongSi</key>
		<string>火车头</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>10</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>火车头</string>
	</dict>
	<dict>
		<key>image</key>
		<string>皇家雄鹰.PNG</string>
		<key>gongSi</key>
		<string>皇家雄鹰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>5</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>皇家雄鹰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>皇冠.PNG</string>
		<key>gongSi</key>
		<string>皇冠</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>7</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>皇冠</string>
	</dict>
	<dict>
		<key>image</key>
		<string>厚泽.PNG</string>
		<key>gongSi</key>
		<string>厚泽</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>厚泽</string>
	</dict>
	<dict>
		<key>image</key>
		<string>黑石区.PNG</string>
		<key>gongSi</key>
		<string>黑石区</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>13</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>黑石区</string>
	</dict>
	<dict>
		<key>image</key>
		<string>建筑工.PNG</string>
		<key>gongSi</key>
		<string>建筑工</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>12</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>建筑工</string>
	</dict>
	<dict>
		<key>image</key>
		<string>酒庄.PNG</string>
		<key>gongSi</key>
		<string>酒庄</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>9</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>酒庄</string>
	</dict>
	<dict>
		<key>image</key>
		<string>职业设手.PNG</string>
		<key>gongSi</key>
		<string>职业设手</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>14</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>米豆</string>
	</dict>
	<dict>
		<key>image</key>
		<string>职业设手.PNG</string>
		<key>gongSi</key>
		<string>职业设手</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>20</string>
		<key>sex</key>
		<string>公司</string>
		<key>name</key>
		<string>职业设手</string>
	</dict>
</array>
</plist>
