<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>gg10.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>大话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg3.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>周浩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg6.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>刘健</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg2.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>赵敏之</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gg1.jpg</string>
		<key>gongSi</key>
		<string>个人工作室</string>
		<key>zhiWu</key>
		<string>CEO</string>
		<key>qianMing</key>
		<string>不花一分钱，也能成就你的梦想</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1090</string>
		<key>year</key>
		<string>8</string>
		<key>sex</key>
		<string>男</string>
		<key>name</key>
		<string>大鹏</string>
	</dict>
</array>
</plist>
