<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>mm11.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>小桃子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm8.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>于纷纷</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm2.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>首席设计师</string>
		<key>qianMing</key>
		<string>没有什么能阻挡我的脚步</string>
		<key>shanChang</key>
		<string>室内布局</string>
		<key>city</key>
		<string>广州</string>
		<key>fengSi</key>
		<string>1.5万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>朗明</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm5.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>ciry</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mm5.jpg</string>
		<key>gongSi</key>
		<string>环球装饰</string>
		<key>zhiWu</key>
		<string>设计总监</string>
		<key>qianMing</key>
		<string>最前沿的时尚潮流设计</string>
		<key>shanChang</key>
		<string>欧式风格</string>
		<key>city</key>
		<string>上海</string>
		<key>fengSi</key>
		<string>2万</string>
		<key>year</key>
		<string>3</string>
		<key>sex</key>
		<string>女</string>
		<key>name</key>
		<string>ciry</string>
	</dict>
</array>
</plist>
