<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>place</key>
		<string>湖北</string>
		<key>area</key>
		<string>宜昌</string>
		<key>name</key>
		<string>邹金奎</string>
		<key>address</key>
		<string>湖北省宜昌市西陵区东山大道59号清江大夏1-3层</string>
		<key>cooperationTime</key>
		<string>2014·4月合作</string>
		<key>companyName</key>
		<string>湖北宜昌欧工软装配套有限公司</string>
		<key>image</key>
		<string>tyg1.jpg</string>
		<key>tel</key>
		<string>13556843984</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tyg2.jpg</string>
		<key>place</key>
		<string>河南</string>
		<key>area</key>
		<string>郑州</string>
		<key>name</key>
		<string>吕刚强</string>
		<key>address</key>
		<string>河南省郑州市商都路与京港澳高速交汇处西500米华丰酒店家具采购中心</string>
		<key>cooperationTime</key>
		<string>2014·3月合作</string>
		<key>companyName</key>
		<string>河南欧工软装配套有限公司</string>
		<key>tel</key>
		<string>13557453984</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tyg3.jpg</string>
		<key>place</key>
		<string>江苏</string>
		<key>area</key>
		<string>淮安</string>
		<key>name</key>
		<string>单总</string>
		<key>address</key>
		<string>江苏淮安</string>
		<key>cooperationTime</key>
		<string>2014·12月合作</string>
		<key>companyName</key>
		<string>江苏欧工软装配套有限公司</string>
		<key>tel</key>
		<string>13256843454</string>
	</dict>
	<dict>
		<key>place</key>
		<string>湖南</string>
		<key>area</key>
		<string>长沙</string>
		<key>name</key>
		<string>李楚平</string>
		<key>address</key>
		<string>长沙市芙蓉南路鑫远地产集团</string>
		<key>cooperationTime</key>
		<string>2014·9月合作</string>
		<key>companyName</key>
		<string>湖南欧工软装产业发展有限公司</string>
		<key>tel</key>
		<string>13897843984</string>
		<key>image</key>
		<string>tyg1.jpg</string>
	</dict>
	<dict>
		<key>place</key>
		<string>浙江</string>
		<key>area</key>
		<string>台州</string>
		<key>name</key>
		<string>江文花</string>
		<key>address</key>
		<string>台州中心大道1088号美莱美软装</string>
		<key>cooperationTime</key>
		<string>2015·3月合作</string>
		<key>companyName</key>
		<string>美莱美软装</string>
		<key>image</key>
		<string>tyg3.jpg</string>
		<key>tel</key>
		<string>13556800184</string>
	</dict>
	<dict>
		<key>place</key>
		<string>内蒙古</string>
		<key>area</key>
		<string>包头</string>
		<key>name</key>
		<string>吕斯麟</string>
		<key>address</key>
		<string>湖北省宜昌市西陵区东山大道59号清江大夏1-3层</string>
		<key>cooperationTime</key>
		<string>2014·4月合作</string>
		<key>companyName</key>
		<string>湖北宜昌欧工软装配套有限公司</string>
		<key>image</key>
		<string>tyg1.jpg</string>
		<key>tel</key>
		<string>13833343984</string>
	</dict>
	<dict>
		<key>place</key>
		<string>湖北</string>
		<key>area</key>
		<string>宜昌</string>
		<key>name</key>
		<string>邹金奎</string>
		<key>address</key>
		<string>内蒙古包头市稀土开发区民族东路华丽家族北门色界国际软装</string>
		<key>cooperationTime</key>
		<string>2014·12月合作</string>
		<key>companyName</key>
		<string>色界国际软装</string>
		<key>image</key>
		<string>tyg2.jpg</string>
		<key>tel</key>
		<string>13086843984</string>
	</dict>
	<dict>
		<key>place</key>
		<string>海南</string>
		<key>area</key>
		<string>海口</string>
		<key>name</key>
		<string>郭远新</string>
		<key>address</key>
		<string>海口市海秀路49号华深国际博览中心</string>
		<key>cooperationTime</key>
		<string>2014·12月合作</string>
		<key>companyName</key>
		<string>海口欧工软装配套有限公司</string>
		<key>tel</key>
		<string>13556843984</string>
		<key>image</key>
		<string>tyg3.jpg</string>
	</dict>
	<dict>
		<key>place</key>
		<string>四川</string>
		<key>area</key>
		<string>德阳</string>
		<key>name</key>
		<string>刘冬艳</string>
		<key>address</key>
		<string>四川省德阳市恒大建材城74栋6--12号</string>
		<key>cooperationTime</key>
		<string>2014·9月合作</string>
		<key>companyName</key>
		<string>德阳欧工国际软装配套有限公司</string>
		<key>image</key>
		<string>tyg2.jpg</string>
		<key>tel</key>
		<string>18923459812</string>
	</dict>
	<dict>
		<key>place</key>
		<string>四川</string>
		<key>area</key>
		<string>西昌</string>
		<key>name</key>
		<string>张春玲</string>
		<key>address</key>
		<string></string>
		<key>cooperationTime</key>
		<string>2014·12月合作</string>
		<key>companyName</key>
		<string>出彩生活</string>
		<key>image</key>
		<string>tyg3.jpg</string>
		<key>tel</key>
		<string>13670843984</string>
	</dict>
	<dict>
		<key>place</key>
		<string>江苏</string>
		<key>area</key>
		<string>江阴</string>
		<key>name</key>
		<string>孙总</string>
		<key>address</key>
		<string>江阴市延陵路3号欧工国际软装</string>
		<key>cooperationTime</key>
		<string>2014·8月合作</string>
		<key>companyName</key>
		<string>出彩生活</string>
		<key>image</key>
		<string>tyg1.jpg</string>
	</dict>
	<dict>
		<key>place</key>
		<string>广东</string>
		<key>area</key>
		<string>肇庆</string>
		<key>name</key>
		<string>刘文团</string>
		<key>address</key>
		<string>肇庆肇泉建材城欧迪国际</string>
		<key>cooperationTime</key>
		<string>2014.5月合作</string>
		<key>companyName</key>
		<string>出彩生活</string>
		<key>image</key>
		<string>tyg2.jpg</string>
		<key>tel</key>
		<string>13556849999</string>
	</dict>
	<dict>
		<key>place</key>
		<string>湖北</string>
		<key>area</key>
		<string>武汉</string>
		<key>name</key>
		<string>白启明</string>
		<key>address</key>
		<string>湖北省武汉武昌区友谊国际家居</string>
		<key>cooperationTime</key>
		<string>2014·10月合作</string>
		<key>companyName</key>
		<string>出彩生活</string>
		<key>image</key>
		<string>tyg1.jpg</string>
		<key>tel</key>
		<string>15250013984</string>
	</dict>
	<dict>
		<key>place</key>
		<string>黑龙江</string>
		<key>area</key>
		<string>佳木斯</string>
		<key>name</key>
		<string>王贵生</string>
		<key>address</key>
		<string>佳木斯顺和街2号</string>
		<key>cooperationTime</key>
		<string>2015·4月合作</string>
		<key>companyName</key>
		<string>出彩生活</string>
		<key>image</key>
		<string>tyg3.jpg</string>
		<key>tel</key>
		<string>158843984</string>
	</dict>
	<dict>
		<key>place</key>
		<string>辽宁</string>
		<key>area</key>
		<string>大连</string>
		<key>name</key>
		<string>腾新艳</string>
		<key>address</key>
		<string>大连市甘井子区中华路红星国际广场</string>
		<key>tel</key>
		<string>13556865454</string>
		<key>cooperationTime</key>
		<string>2015·4月合作</string>
		<key>companyName</key>
		<string>v店</string>
		<key>image</key>
		<string>tyg2.jpg</string>
	</dict>
	<dict>
		<key>place</key>
		<string>江西</string>
		<key>area</key>
		<string>赣州</string>
		<key>name</key>
		<string>彭秋全</string>
		<key>address</key>
		<string>江西省赣州市金东路卫浴城二楼</string>
		<key>cooperationTime</key>
		<string>2015·3月合作</string>
		<key>companyName</key>
		<string>奢意整体软装馆</string>
		<key>image</key>
		<string>tyg1.jpg</string>
		<key>tel</key>
		<string>18946782357</string>
	</dict>
	<dict>
		<key>place</key>
		<string>广东</string>
		<key>area</key>
		<string>河源</string>
		<key>name</key>
		<string>钟天辉</string>
		<key>address</key>
		<string>广东省河源市源城区华达新城后门</string>
		<key>cooperationTime</key>
		<string>2015·3月合作</string>
		<key>companyName</key>
		<string>三原色装饰设计工程有限公司</string>
		<key>image</key>
		<string>tyg3.jpg</string>
		<key>tel</key>
		<string>16898571234</string>
	</dict>
	<dict>
		<key>place</key>
		<string>陕西</string>
		<key>area</key>
		<string>西安</string>
		<key>name</key>
		<string>王伟</string>
		<key>address</key>
		<string>陕西市文景路86号白桦林具果岭52</string>
		<key>cooperationTime</key>
		<string>2015·4月合作</string>
		<key>companyName</key>
		<string>v店</string>
		<key>image</key>
		<string>tyg2.jpg</string>
		<key>tel</key>
		<string>13556843984</string>
	</dict>
	<dict>
		<key>place</key>
		<string>内蒙古</string>
		<key>area</key>
		<string>包头</string>
		<key>name</key>
		<string>周忠诚</string>
		<key>address</key>
		<string>内蒙古包头市昆区</string>
		<key>cooperationTime</key>
		<string>2015·4月合作</string>
		<key>companyName</key>
		<string>包头市雅美居布艺装饰有限公司</string>
		<key>tel</key>
		<string>13000843984</string>
		<key>image</key>
		<string>tyg1.jpg</string>
	</dict>
	<dict>
		<key>place</key>
		<string>山西</string>
		<key>area</key>
		<string>太原</string>
		<key>name</key>
		<string>杨学斌</string>
		<key>address</key>
		<string>山西太原市小店区长风大街123号北方君威财富中心31楼信贷通</string>
		<key>cooperationTime</key>
		<string></string>
		<key>companyName</key>
		<string>山西欧工家居用品有限公司</string>
		<key>tel</key>
		<string>13756003984</string>
		<key>image</key>
		<string>tyg3.jpg</string>
	</dict>
	<dict>
		<key>place</key>
		<string>湖南</string>
		<key>area</key>
		<string>株洲</string>
		<key>name</key>
		<string>舒鲲</string>
		<key>address</key>
		<string>芦松区建设中路广汇大厦一楼</string>
		<key>tel</key>
		<string>13886443984</string>
		<key>image</key>
		<string>tyg1.jpg</string>
		<key>cooperationTime</key>
		<string></string>
		<key>companyName</key>
		<string>居华堂软装</string>
	</dict>
</array>
</plist>
