<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>mm1.jpg</string>
		<key>lookCount</key>
		<string>123</string>
		<key>commentCount</key>
		<string>32</string>
		<key>type</key>
		<string>三室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb1.png</string>
		<key>price</key>
		<string>43290</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>mm5.jpg</string>
		<key>lookCount</key>
		<string>100</string>
		<key>commentCount</key>
		<string>32</string>
		<key>type</key>
		<string>三室一厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb2.png</string>
		<key>price</key>
		<string>43290</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>mm9.png</string>
		<key>lookCount</key>
		<string>100</string>
		<key>commentCount</key>
		<string>30</string>
		<key>type</key>
		<string>三室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb3.png</string>
		<key>price</key>
		<string>53290</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>gg1.jpg</string>
		<key>lookCount</key>
		<string>150</string>
		<key>commentCount</key>
		<string>20</string>
		<key>type</key>
		<string>单间</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb4.png</string>
		<key>price</key>
		<string>48421</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>gg2.jpg</string>
		<key>lookCount</key>
		<string>210</string>
		<key>commentCount</key>
		<string>40</string>
		<key>type</key>
		<string>四室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb5.png</string>
		<key>price</key>
		<string>46460</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>mm6.jpg</string>
		<key>lookCount</key>
		<string>111</string>
		<key>commentCount</key>
		<string>11</string>
		<key>type</key>
		<string>三室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb6.png</string>
		<key>price</key>
		<string>66666</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>gg7.jpg</string>
		<key>lookCount</key>
		<string>90</string>
		<key>commentCount</key>
		<string>40</string>
		<key>type</key>
		<string>两室一厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb7.png</string>
		<key>price</key>
		<string>55555</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>mm8.jpg</string>
		<key>lookCount</key>
		<string>222</string>
		<key>commentCount</key>
		<string>22</string>
		<key>type</key>
		<string>三室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb8.png</string>
		<key>price</key>
		<string>45623</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>gg5.jpg</string>
		<key>lookCount</key>
		<string>56</string>
		<key>commentCount</key>
		<string>12</string>
		<key>type</key>
		<string>三室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb9.png</string>
		<key>price</key>
		<string>39999</string>
	</dict>
	<dict>
		<key>title</key>
		<string>欧工软装概念方案</string>
		<key>headerImage</key>
		<string>gg8.jpg</string>
		<key>lookCount</key>
		<string>89</string>
		<key>commentCount</key>
		<string>23</string>
		<key>type</key>
		<string>三室两厅</string>
		<key>style</key>
		<string>清晰</string>
		<key>image</key>
		<string>yb10.png</string>
		<key>price</key>
		<string>68443</string>
	</dict>
</array>
</plist>
